
<div class="a1">
  <h2>Perfil</h2>
  <figure>
    <figcaption><strong>Nombre del autor: </strong><br>Jose</figcaption>
  </figure>
  
</div>
<br>
<div class="a2">
  <h2>Promo</h2>
  <video poster="images/quiz.jpg" controls>
    <source src="/videos/quiz.webm" type="video/webm" codecs="vp8.0, vorbis" />
    <source src="/videos/quiz.ogg" type="video/ogg" codecs="theora, vorbis" />
    <source src="/videos/quiz.mp4" type="video/mp4" codecs="avc1.4D401E, mp4a.40.2" />
    <p>Lo sentimos tu navegador no posee soporte para el elemento video html5</p>
  </video>
</div>
